@keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }

    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@-webkit-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }

    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@-moz-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }

    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@-webkit-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }

    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.stars {
    background: black url(/images/default/stars.png) repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 0;
}

.twinkling {
    width: 10000px;
    height: 100%;
    background: transparent url("/images/default/twinkling.png") repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;

    -moz-animation: move-background 70s linear infinite;
    -ms-animation: move-background 70s linear infinite;
    -o-animation: move-background 70s linear infinite;
    -webkit-animation: move-background 70s linear infinite;
    animation: move-background 70s linear infinite;

}

.clouds {
    width: 10000px;
    height: 100%;
    background: transparent url("/images/default/clouds_repeat.png") repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;

    -moz-animation: move-background 150s linear infinite;
    -ms-animation: move-background 150s linear infinite;
    -o-animation: move-background 150s linear infinite;
    -webkit-animation: move-background 150s linear infinite;
    animation: move-background 150s linear infinite;
}

.background-container img {
    height: 70vh;
    width: 70vh;
    position: absolute;
    z-index: 3;
    right: 20px;
}

.main {
    z-index: 1000;
}

.container_fluid {
    height: 90vh;
}

@media screen and (min-width:600px) {
    .brand img {
        width: 140px;
        height: 120px;
        position: relative;
    }
}

@media screen and (min-width: 100px) {
    .brand img {
        width: 90px;
        height: 70px;
        position: relative;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-color: #FFFFFF;
        background-image: linear-gradient(180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%);
    }

    .background-container {
        display: none;
    }

    .brand-title h3{
        color: steelblue !important;
    }
}

.brand-title h3 {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;

    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 3s steps(22), blink .5s step-end infinite alternate;
    color: white;
    z-index: 1000;
    width: fit-content;
    position: relative;
    height: fit-content;
    color: white;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%;
    }
}

/* The typewriter cursor effect */
@keyframes blink {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}

#form {
    background-color: white;
    padding: 10px;
    border-radius: 15px 15px 15px 15px / 15px 15px 15px 15px;
    background: rgba(15, 45, 83, 0.8);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: aliceblue;
}

input.form-control:focus {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
}

input.form-control:focus-visible {
    outline: 0;
    border: none;
}

button:focus {
    border: none;
    box-shadow: none !important;
}

label {
    font-size: 18px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    width: 100%;
}

a {
    text-decoration: none;
    font-weight: bold;
}