html, .container_fluid {
    height: 100%;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
}

.container_fluid{
    background: url('../images/common/background.png') no-repeat;
    background-size: cover;
}

#form {
    background-color: white;
    padding: 10px;
    border-radius: 15px 15px 15px 15px / 15px 15px 15px 15px;
    background: rgba(255,255,255,0.8);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input.form-control:focus {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
}

input.form-control:focus-visible {
    outline: 0;
    border: none;
}

button:focus {
    border: none;
    box-shadow: none !important;
}

label {
    font-size: 18px;
}

h1 {
    font-family: VPSTH;
    font-size: 50px;
}

.row {
    width: 100%;
}